$primary:darkolivegreen;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:darkkhaki;
    word-break: keep-all;
}

#container{
    min-width: 40px;
    max-width: 45rem;
    margin: 0 auto;
    display: grid;
}
#header {
    padding: 50px 0 50px 0;
    height: auto;
    text-align: center;
    font-size: 15px;
}

h1{
    font-size: 35px;
    line-height: 75px;
    text-align: center;
}

.research{
    height: auto;
    overflow: hidden;
    border-top: 1px black solid;
    padding: 50px 0 50px 0;
}

.r_title{
    margin-bottom: 50px;
    font-size: 25px;
    line-height: 40px;
}

.r_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    p {
        font-size: 16px;
        line-height: 29px;
        margin-top: 20px;
        align-self: flex-start;
    }

    img {
        position: relative;
        margin: 18px 0;
        max-width: 400px;
        align-self: center;
    }

    a {
        color: $primary;
        text-decoration: none;
        cursor: pointer;
    }
}

.r_etc{
    display: block;
    p{
        font-size: 10px;
        line-height: 20px;
        margin: 30px 0 0 0;
    }
}

.date{
    float: right;
    padding: 5px 10px 5px 10px;
}